* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}


body {
    background-color: #f6f5f3;
}


/* HEADER */
header{
    text-align: center;
    padding: 25px;
    background-color: #ffffff;
}

h1 {
    font-family: 'Nerko One', cursive;
    font-size: 40px;
    color: #ff9614;
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
    padding:40px 0px 40px 40px;
}


/* MAIN */

.container-main{
    padding: 30px 25px;
    
}

.viola{
    color: #4e3969;
    font-size: 25px;
    padding:20px 0px 30px 0px;
}

.dolce{
    display: none;
}

.white{
    background-color: #ffffff;

}

    

.capolista{
    padding: 10px 0px;
    font-size:20px;
}

.lista{
    padding: 10px 0px;
}



/* FOOTER */


/* RESPONSITIVITà */

/* TABLET */
@media (min-width: 768px) {
    header{
        text-align: left;
    }

    .dolce{
        display: inline;
    }

    img{
        max-width: 100%;
    }


    .tablet{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: calc((100% - 40px)/ 3);
    }

    .capolista{
        width: 100%;;


    }


    body {
        background-color: red;
    }

}


/* DESKTOP */

@media (min-width: 992px) {
    header{
        text-align: left;
    }

    

    .dolce{
        display: inline;
    }

    img{
        float:left;
    }

    .tablet{
        flex-direction: column;
        align-items: baseline;
        
    }

    
    body {
        background-color: rgb(0, 255, 136);
    }

}