* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}



/* RESPONSITIVITà */
/* TABLET */
@media (min-width: 768px) {
    body {
        background-color: red;
    }

}


/* DESKTOP */

@media (min-width: 992px) {
    body {
        background-color: rgb(0, 255, 136);
    }

}